/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  background-color: black;
  color: #f0f0e0;
  padding: 0px;
  opacity: 1.0;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

.header {
  display: flex;
  margin: 0 auto;
  font-family: "DM Serif Display", serif;
  font-weight: 100;
  font-style: normal;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.main {
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-around;
  align-items: center;
  border: none;
  left: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchbar {
  margin-bottom: 5px;
  width: 100%;
}

.login-page {
  margin-top: 80%;
  padding: 20px;
}

.login-title {
  text-align: center;
}

.login-container {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.login-container a {
  color: #f0f0e0;
}

input[type="text"] {
  width: 100%;
  background-color: black;
  color: #f0f0e0;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  border: 1px solid #f0f0e0;
  border-radius: 4px;
  padding: 8px 16px;
}

input[type="password"] {
  width: 100%;
  background-color: black;
  color: #f0f0e0;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  border: 1px solid #f0f0e0;
  border-radius: 4px;
  padding: 8px 16px;
}

.info {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 12px;
  display: flex;
  justify-content: space-evenly;
}

.error {
  color: red;
  font-size: 8px;
  height: 12px;
}

.container {
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-info {
  display: flex;
  justify-content: left;
}

.container-item {
  margin-right: 10px;
}

.token-widget {
  display: flex;
  justify-content: space-between;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding: 4px 8px;
  border-bottom: 1px solid #222;
  padding-bottom: 14px;
}

.buy-tokens button {
  background-color: #F5BD02;
  background-image: linear-gradient(-45deg, #B5880B, #F5BD02, #B5880B);
  color: black;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
}

.trade-type-widget {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.trade-widget {
  border-bottom: 1px solid #222;
}

.trade-params-widget-container {
  display: flex;
  justify-content: space-between;
}

.trade-params-widget {
  display: flex;
  justify-content: space-between;
}

.button-options {
  display: flex;
  justify-content: space-between;
}

.form-item {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.buy {
  background-color: #48c410;
  background-image: linear-gradient(-45deg, #329410, #48c410, #329410);
  color: black;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.option-buy {
  background-color: #48c410;
  background-image: linear-gradient(-45deg, #3cac10, #48c410, #3cac10);
  color: black;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 48.5%;
  cursor: pointer;
  text-align: center;
}

.sell {
  background-color: #c44810;
  background-image: linear-gradient(-45deg, #ac3c10, #c44810, #ac3c10);
  color: black;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.option-sell {
  background-color: #c44810;
  background-image: linear-gradient(-45deg, #ac3c10, #c44810, #ac3c10);
  color: black;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 48.5%;
  cursor: pointer;
  text-align: center;
}

.option-full {
  background-color: #f0f0e0;
  color: black;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.option {
  background-color: #f0f0e0;
  color: black;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 48.5%;
  cursor: pointer;
  text-align: center;
}

.cancel {
  background-color: #f0f0e0;
  color: black;
  border: none;
  font-weight: bold;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  border-radius: 6px;
  text-align: center;
}

.cancel-button {
  float: right;
}

.selected {
  font-weight: bold;
}

form {
  width: 100%;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form input[type="text"],
.form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 4px;  
}

.item {
  border-bottom: 1px solid #222;
  padding: 10px;
}

.item img {
  width: 64px;
  height: 64px;
  aspect-ratio: 1 / 1;
  margin: 2.5%;
  overflow: hidden;
  display: block;
  border-radius: 4px;  
  text-align: center;
}

.image-cropper {
  max-width: 100px;
  height: auto;
  position: relative;
  overflow: hidden;
}

.image-cropper img{
  display: block;
  margin: 0 auto;
  height: auto;
  width: 150%; 
  margin: 0 0 0 -20%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;  
}

.item h3 {
  margin-bottom: 0px;
}

.item p {
  margin-bottom: 10px;
}

.item-detail {
  border-radius: 4px;  
  padding: 20px;
}

.item-detail img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.item-detail h2 {
  margin-bottom: 10px;
}

.item-detail p {
  margin-bottom: 10px;
}

.owned-item {
  margin-bottom: 20px;
  border: 1px solid #444;
  border-radius: 4px;  
  padding: 10px;
}

.owned-item img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.owned-item h3 {
  margin-bottom: 2px;
}

.owned-item p {
  margin-bottom: 10px;
}

.navbar {
  font-family: "DM Serif Display", serif;
  font-weight: 100;
  font-style: normal;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #222;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Adjust height as needed */
  background-color: black;
}

.nav-item {
  width: 32%;
  height: 90%;
  padding: 10px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 18px; /* Adjust font size as needed */
  text-align: center;
  background-color: black;
}

.nav-item.active {
  font-weight: bold; /* Example styling for active tab */
  background-color: black;
}